// The filter button container
.trb_mainContent .filters{
	margin: 25px 0;
	padding: 25px;
	background: rgba($peach, .3);
	border-top: 3px solid $peach;
	border-bottom: 3px solid $peach;

	&__label{
		@include label();
		text-align:center;
	}

	&__sublabel{
		@include sans-serif();
		text-align:center;
		margin: 0 0 15px 0;
		width:100%;
	}

	&__buttons{
		display: flex;
		justify-content: space-between;
		align-content: flex-start;
		align-items:stretch; 
		flex-wrap:wrap;
		margin-bottom:25px;
		&:last-child {margin:0;}
	}
}

.trb_mainContent{
	// button styles ... first the wide ones for stadium and rating.	
	.filters__buttons--stadium, .filters__buttons--rating{
		.filter-button{
			@include filter-button-horiz();
	
			&__label{
				// @include agate();
				margin: 0 auto;
			    max-width: 90px; // for text-wrapping purposes
				color:black;
			}
	
			
			&[data-category="cubs"]{
				background: $cubs_blue;
				.filter-button__label{
					color:white;
				}
			}
	
			&[data-category="sox"]{
				background: black;
				.filter-button__label{
					color:white;
				}
	
			}
		}
	}

	// button styles ... Now the food categories
	.filters__buttons--food .filter-button{
		@include filter-button-food();
		width: 33%;
	}
}

.trb_mainContent .filter-button.filter-button--checked{
		&:hover svg, &:focus svg, svg {opacity: 1;}
}


// ADJUST THE BUTTON DISPLAY FOR THE VARIOUS COLUMNS
.trb_mainContent .filters__buttons{
	&--stadium .filter-button{ width: 48%; }

	&--rating{
		.filter-button{
			background: $peach;
		}
	}
}






@media all and (min-width: $tablet-min-width){
	.trb_mainContent .filters__buttons--food .filter-button{
		svg {
			height:70px;
		}
	
	}
}

@media all and (min-width: 600px){
	.trb_mainContent .filters__buttons--food{
		.filter-button{
			width: 25%;
			svg {
				height:90px;
			}
		}
	}
}

@media all and (min-width: $desktop-min-width){
	.trb_mainContent .filters{
		display:grid;
		grid-template-columns: 1fr;
		grid-template-columns: 150px 1fr 150px;
		grid-column-gap: 30px;

		display:-ms-grid;
		-ms-grid-columns: 1fr;
		-ms-grid-columns: 150px 1fr 150px;
		
		&__buttons{
			// Set the buttons/wrappers on the edge to uniform width
			&--stadium, &--rating{
				.filter-button{
					width: 100%;
				}
			}

			&--stadium{
				grid-column:1;
				-ms-grid-column:1;

			}
			&--rating{
				grid-column:3;
				-ms-grid-column:3;
			}

			&--food{
				justify-content: center;
				grid-column:2;
				-ms-grid-column:2;

				.filter-button{ width: 20%; }
			}
		}
	}
}