@font-face {
  font-family: 'MicrobrewOne';
  font-style: normal;
  font-weight: 400;
  src:  local('microbrew-one-webfont'),
        url('../fonts/microbrew-one-webfont.eot'), /* IE9 Compat Modes */
        url('../fonts/microbrew-one-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/microbrew-one-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/microbrew-one-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
  unicode-range: U+000-5FF; /* Latin glyphs */
}