$fake_padding_border_width: 8px;
$top-pick-color: yellow;
$top_pick_picture_width_tablet: 260px;



.food-items {
	&__legend{
		width: 100%;
		dl{
			@include trib-legend();
			margin: 0 auto;
			max-width: 170px;
			
			dd {
			    margin-left: 41px;
			    line-height: 1.3em;
			    padding-top:8px;
			}
		}
	}
	&__label{
		@include label();
	    text-align: center;
	}

	&__sublabel{
		@include sans-serif();
		text-align: center;	
	}
}



// Default food item styles
.trb_mainContent .food-item{
	// These styles also serve as the Sox styles. Ergo, Cubs is an exception.
	@include distribute_across_columns(1, 0px);
	border: none;
	margin-bottom: 20px;
	&__inner{
		// border: 3px solid black;
		border-radius: 10px;
		overflow: hidden;
		background: rgba(black, .1);
		height: 100%;
		position:relative;
	}

	&__image{
		width: 100%;
		height: 200px;
		border-bottom: 3px solid black;

	}

	&__content{

		padding: 15px;
	}
	
	&__icons{
		margin: 0 0 10px 0;
	}

	&__name{
		@include label6();
		margin: 0 0 7px 0;
	}

	&__stand{
		@include sans-serif();
		font-style: italic;
		margin: 0 0 14px 0;
	}

	&__cost{
		@include sans-serif();
		margin: 0;
	}
}

.trb_mainContent .food-item__icon{
	width: 35px;
	height: 35px;

	&--trophy-worst{
		transform:rotate(-180deg);
	    transform-origin: 49.5% 50%;
		position:relative
	}
}

// Wrigley food item styles variant
.trb_mainContent .food-item[data-cubs] {
	.food-item__inner{
		background: rgba($trib-blue3, .25);
	}
	.food-item__image{
		border-color: $cubs_blue;
	}
}


// Style the featured food items
.trb_mainContent .food-item.food-item--top-pick{
	@include distribute_across_columns(1, $fake_padding_border_width);

	.food-item__seal{

		position: absolute;
		top: $fake_padding_border_width * 2;
		left: $fake_padding_border_width * 2;
		width: 100px;
		height: 100px;
		transform: rotate(-12deg);

		&-inner{
			display:flex;
			justify-content: center;
			align-items:center;
			flex-wrap:nowrap;
		    height: 100%;
		}

		svg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		p{
			@include display_text(30px);
			margin: 0;
			padding: 0;
			text-align: center;
		}
	}
}


@media all and (min-width: $tablet-min-width){
	.food-items{
		display:flex;
		justify-content: space-between;
		align-items: stretch;
		flex-flow: row wrap;
	}

	.trb_mainContent .food-item{
		@include distribute_across_columns(2, $fake_padding_border_width);
		border: $fake_padding_border_width solid white;
		margin-bottom: 0;

	}

	// Style the featured food items
	.trb_mainContent .food-item.food-item--top-pick{
		
		.food-item__inner{
			@include clearfix();	
			display:flex;	

		}
		.food-item__image{
			height: 400px;
		}
		.food-item__content{
			width: 100%; 
			max-width: 300px;
			background:rgba(white, .80);
		}

		// &[data-cubs] {
		// 	.food-item__inner{
		// 		// background: $cubs_blue;
		// 	}
		// }
	}
}

@media all and (min-width: $desktop-min-width){
	.trb_mainContent .food-item{
		@include distribute_across_columns(3, $fake_padding_border_width);
	}
}