{% macro filter_button(id, label) %}
		<button class='filter-button filter-button--{{ id }}'>
			<svg>
			  <use xlink:href="#{{ id }}"></use>
			</svg>
			<p class='filter-button__label'>{{ label }}</p>
		</button>
{% endmacro %}

{% macro populate_buttons(button_category) %}
	{% for c in filter_categories if c.type == button_category%}
		{{ filter_button(c.filter, c.label) }}
	{% endfor %}


{% endmacro %}


{% block content %}
<div style='height:0;display:none'>
	{# https://css-tricks.com/svg-use-with-external-reference-take-2/#}
	{% include 'img/sprite.svg' %}
</div>
<section class='header'>
	<div class='header__background'>
		<div class='header__logo'>
			<img src='http://{{ ROOT_URL }}/img/project-logo.png' />
		</div>
	</div>
	<h2 class='header__dek'>{{ dek }}</h2>
	{{ intro|markdown }}
</section>
<section class='filters'>
	<div class='filters__buttons filters__buttons--stadium'>
		<h3 class='filters__label'>I am at:</h3>
		{{ populate_buttons("location")}}
	</div>
	<div class='filters__buttons filters__buttons--food'>
		<h3 class='filters__label'>I am hungry for:</h3>
		{{ populate_buttons("food")}}
	</div>
	<div class='filters__buttons filters__buttons--rating'>
			<h3 class='filters__label'>I am <em>this</em> picky</h3>
			{{ populate_buttons("rating")}}
	</div>
</section>
<section class='food-items'>
	{%- for f in stadium_food[1:] -%}
		{% include 'subtemplates/_food-item.html' %}
	{%- endfor -%}
</section>
<section class='credits'>
	{{ sources|markdown }}
	{{ icon_credits|markdown }}
	{{ credits|markdown }}
</section>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
{# <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script> #}
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
{# <script src="//{{ ROOT_URL }}/js/app.min.js"></script> #}
<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
