{% block content %}
<div style='height:0;display:none'>
	{# https://css-tricks.com/svg-use-with-external-reference-take-2/#}
	{% include 'img/sprite.svg' %}
</div>
<section class='header'>
	<div class='header__background'>
		<div class='header__logo'>
			<img src='http://{{ ROOT_URL }}/img/project-logo.png' />
		</div>
	</div>
	<h1 class="header--hiddenhed">Chicago Tribune 2017 baseball food guide</h1>
	<h2 class='header__dek'>{{ dek }}</h2>
	{{ intro|markdown }}
</section>
<section class='filters'>
	{% include 'subtemplates/_filters.html' %}
</section>
<section class='food-items'>
	<div class='food-items__legend'>
		<h3 class='food-items__label'>{{ food_label }}</h3>
		{% if food_sublabel %}
			<p class='food-items__sublabel'>{{ food_sublabel }}</p>
		{% endif %}
		<dl>
			<dt>
				<svg class="food-item__icon food-item__icon--thumb"><use xlink:href="#thumbs-up"></use></svg>
			</dt>
			<dd>{{ legend_thumbs_up }}</dd>
			<dt>
				<svg class="food-item__icon food-item__icon--thumb"><use xlink:href="#thumbs-down"></use></svg>
			</dt>
			<dd>{{ legend_thumbs_down }}</dd>
			<dt><svg class="food-item__icon food-item__icon--trophy"><use xlink:href="#trophy"></use></svg></dt>
			<dd>{{ legend_best_of_stadium }}</dd>
			<dt><svg class="food-item__icon food-item__icon--trophy-worst"><use xlink:href="#trophy"></use></svg></dt>
			<dd>{{ legend_worst_of_stadium }}</dd>
			<dt>
				<svg class="food-item__icon food-item__icon--rate"><use xlink:href="#rate"></use></svg>
			</dt>
			<dd>{{ legend_sox}}</dd>
			<dt>
				<svg class="food-item__icon food-item__icon--wrigley"><use xlink:href="#wrigley"></use></svg>
			</dt>
			<dd>{{ legend_cubs}}</dd>
		</dl>
	</div>
	{%- for f in stadium_food[1:] -%}
		{% include 'subtemplates/_food-item.html' %}
	{%- endfor -%}
</section>
<section class='credits'>
	{{ icon_credits|markdown }}
	{{ credits|markdown }}
</section>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
{# <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script> #}
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
