{# DETERMINE THE STADIUM #}
{% set stadium = "sox" %}
{% if f|test_for_wrigley %}
	{% set stadium = "cubs" %}
{% endif %}

{# DETERMINE THE THUMB #}

{% if f.THUMB_POSITION|lower == "up" or f.THUMB_POSITION|lower == "down" %}
	{% set thumb_icon = '<svg class="food-item__icon food-item__icon--thumb"><use xlink:href="#thumbs-' ~ f.THUMB_POSITION|lower ~ '"></use></svg>' %}
{% else %}
	{% set thumb_icon = "" %}
{% endif %}

{% if f.THUMB_POSITION and f.THUMB_POSITION|lower == "up" %}
	{% set data_thumb = "data-thumbs-up" %}
{% else %}
	{% set data_thumb = "" %}
{% endif %}

{# Set data attributes for food types #}

{% set food_types = f|get_food_types(filter_categories) %}

{# DETERMINE IF WE HAVE A PHOTO #}
{% if f|has_photo %}
	{% if f.IS_TOP_PICK and f.IS_TOP_PICK|int == 1 %}
		{% set photo = f.ID ~ "-large.jpg" %}
	{% else %}
		{% set photo = f.ID ~ ".jpg" %}
	{% endif %}
{% else %}
	{% set photo = "missing-food.png" %}
{% endif %}

{# DETERMINE IF IT IS A TOP PICK #}

{% if f.IS_TOP_PICK and f.IS_TOP_PICK|int == 1 %}
	{% set top_pick_class = 'food-item--top-pick' %}
{% else %}
	{% set top_pick_class = '' %}
{% endif %}

{# DETERMINE IF THIS IS A BEST/WORST OF STADIUM #}

{% set stadium_superlative_icon = "" %}

{% if f.SUPERLATIVE_OF_STADIUM == 0 %}
	{# YES, THIS IS AMONG THE WORST #}
	{% set stadium_superlative_icon = '<svg class="food-item__icon food-item__icon--trophy-worst"><use xlink:href="#trophy"></use></svg>' %}
{% elif f.SUPERLATIVE_OF_STADIUM == 1 %}
	{# 1 = best of stadium #}
	{% set stadium_superlative_icon = '<svg class="food-item__icon food-item__icon--trophy"><use xlink:href="#trophy"></use></svg>' %}
{% endif %}


<div class='food-item {{ top_pick_class }}' data-{{ stadium }} {{ data_thumb }} {{ food_types }}>
	<div class='food-item__inner'>
		
		<div class='food-item__image' style='background:url(http://{{ ROOT_URL }}/img/items/{{ photo }}) center no-repeat;background-size:cover;'></div>
		{% if f.IS_TOP_PICK and f.IS_TOP_PICK|int == 1 %}
			<div class='food-item__seal'>
				<div class='food-item__seal-inner'>
					<svg><use xlink:href="#top-pick"></use></svg>
					<p>TOP<br />PICK</p>
				</div>
			</div>
		{% endif %}
		<div class='food-item__content'>
			<div class='food-item__icons'>
				{{ thumb_icon|process_text() }}
				{{ stadium_superlative_icon|process_text() }}
			</div>
			<h4 class="food-item__name">{{ f.FOOD }}</h4>
			{% if f.STAND %}
				<p class='food-item__stand'>From {{ f.STAND }}</p>
			{% endif %}
			{{ f.FOOD_DESCRIPTION|markdown}}
			<p class='food-item__cost'>Find it for <strong>{{ f.PRICE|format_price }}</strong> at section(s) <strong>{{ f.SECTION }}</strong></p>
		</div>
	</div>
</div>