{% set stadium = "sox" %}

{% if f|test_for_wrigley %}
	{% set stadium = "cubs" %}
{% endif %}


<div class='food-item food-item--{{ stadium }}'>
	<div class='food-item__image'></div>
	<div class='food-item__content'>
		<div class='food-item__icons'></div>
		<h4 class="food-item__name">{{ f.FOOD }}</h4>
		{% if f.STAND %}
			<p class='food-item__stand'>{{ f.STAND }}</p>
		{% endif %}
		{{ f.FOOD_DESCRIPTION|markdown}}
		<p class='food-item__cost'>Find it for <strong>{{ f.PRICE }}</strong> at section(s) <strong>{{ f.SECTION }}</strong></p>
	</div>
</div>